@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.categoria-container {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid crimson;
  box-shadow: 0 0 10px 1px black;
  background-color: black;
  z-index: 5;
}
.categoria-container a {
  min-width: 100px;
  height: 80%;
  text-decoration: none;
  color: darkgray;
  text-align: center;
  transform: translateY(20%);
  cursor: pointer;
}

.header {
  z-index: 4;
  width: 100vw;
  height: 500px;
  bottom: 0;
  transition: 0.4s all;
  gap: 20px;
  position: fixed;
  padding: 5px;
  border-top: 1px solid crimson;
  border-radius: 0 0 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.258);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  color: white;
}
.header .pizza-container {
  background-color: whitesmoke;
  border-radius: 24px;
  margin: 0 auto;
  height: 70%;
  width: 90%;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .pizza-container .pizza-header-container {
  width: auto;
  height: auto;
  max-height: 70%;
  display: flex;
}
.header .pizza-container .pizza-header-container .remove-pizza-btn {
  background-color: white;
  color: crimson;
  position: absolute;
  bottom: 0;
  border-radius: 24px;
  width: 100%;
  border: none;
  height: 20px;
}
.header .pizza-container .pizza-header-container .pizza-element {
  background-image: url("https://media.istockphoto.com/id/1400136454/pt/foto/wood-plank-panel-texture-outdated-mahogany-table-background.jpg?s=612x612&w=0&k=20&c=12qxKEdus-k0Py2dpfYngZ6u8PJhvOJJaHEHoNZMRGc=");
  box-shadow: 0 0 15px 1px sienna;
  border-radius: 100%;
  padding: 10px;
  width: 150px;
  height: 140px;
  margin: 0 5px;
  position: relative;
}
.header .pizza-container .pizza-header-container .pizza-esquerda {
  position: absolute;
  width: 150px;
  height: 150px;
  clip-path: inset(0 50% 0 0); /* Corta 50% do lado esquerdo */
  border-radius: 100%;
}
.header .pizza-container .pizza-header-container .pizza-esquerda p {
  color: black;
  position: absolute;
  width: auto;
  right: 50%;
  top: 10px;
  background-color: white;
  padding: 3px;
  text-align: center;
  font-size: 0.7rem;
}
.header .pizza-container .pizza-header-container .pizza-direita {
  position: absolute;
  width: 150px;
  height: 150px;
  clip-path: inset(0 0 0 50%); /* Corta 50% do lado direito */
  border-radius: 100%;
}
.header .pizza-container .pizza-header-container .pizza-direita p {
  color: black;
  position: absolute;
  left: 50%;
  top: 10px;
  width: auto;
  background-color: white;
  padding: 3px;
  text-align: center;
  font-size: 0.7rem;
}
.header .pizza-container .bebidas-header-container {
  width: auto;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header .pizza-container .bebidas-header-container .bebida-carrinho .bebida-info img {
  width: auto;
  height: 100%;
}
.header .pizza-container .bebidas-header-container .bebida-carrinho .bebida-controles {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header .pizza-container .bebidas-header-container .bebida-carrinho .bebida-controles p {
  color: red;
  margin: 0 auto;
  text-align: center;
}
.header .pizza-container .bebidas-header-container .bebida-carrinho .bebida-controles .maisMenos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
}
.header .pizza-container .bebidas-header-container .bebida-carrinho .bebida-controles .maisMenos button {
  width: 30px;
  height: 30px;
}
.header .pizza-container .bebidas-header-container .bebida-carrinho .bebida-controles button {
  width: auto;
  border-radius: 24px;
  background-color: white;
  color: crimson;
  border: none;
}
.header .pizza-container .bebidas-header-container .bebida-carrinho .bebida-controles .quantidade {
  color: red;
}
.header .pizza-container .bebidas-header-container div {
  height: 100%;
}
.header .btn-expand-card {
  position: fixed;
  width: 100vw;
  margin: 10px auto;
  top: 0px;
  border: none;
  color: crimson;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  z-index: 6;
}
.header .carrinho button {
  width: auto;
  height: 50px;
  bottom: 0;
  position: fixed;
  padding: 10px 20px;
  background-color: crimson;
  border-radius: 24px;
  color: white;
  right: 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  z-index: 5;
}
.header .carrinho button:hover {
  background-color: whitesmoke;
  color: crimson;
}

header {
  width: 100vw;
  height: 500px;
  background-image: url("/public/assets/headerCapa.jpeg");
  background-size: cover;
  background-position: center;
  margin-top: 60px;
}

main {
  max-width: 1200px;
  background-color: whitesmoke;
  height: auto;
  margin: 100px auto;
  border-radius: 24px;
  display: flex;
}
main .cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .cards-container .pizza-category {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
main .cards-container .pizza-category h1 {
  font-size: 1.5rem;
  margin: 20px;
  width: 100%;
  color: crimson;
}
main .cards-container .bebida-category {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
main .cards-container .bebida-category h1 {
  font-size: 1.5rem;
  margin: 20px;
  width: 100%;
  color: crimson;
}
main .cards-container .card {
  width: 100%;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: solid white;
  background-image: url("/public/assets/card-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  margin: 10px;
}
main .cards-container .card p {
  margin: 0px;
  font-weight: 100;
  font-size: 0.8rem;
  width: auto;
  text-align: center;
  padding: 10px 5px;
  border-radius: 4px;
}
main .cards-container .card p i {
  font-size: 1.5rem;
  margin-right: 10px;
}
main .cards-container .card img {
  width: 100px;
}
main .cards-container .card span {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
main .cards-container .card span p {
  font-size: 10px;
  border: none;
}
main .cards-container .card button:nth-of-type(1), main .cards-container .card button:nth-of-type(2) {
  display: inline-block;
  margin-right: 10px; /* Espaço entre os botões */
  width: 120px;
}
main .cards-container .card button:nth-of-type(1) span, main .cards-container .card button:nth-of-type(2) span {
  font-size: 12px;
}
main .cards-container .card button:nth-of-type(1) {
  height: auto;
  padding: 10px;
  background-color: crimson;
  color: white;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
}
main .cards-container .card button:nth-of-type(2) {
  height: auto;
  padding: 10px;
  border-color: white;
  margin: 4px;
  border-radius: 4px;
  color: white;
  background-color: crimson;
  cursor: pointer;
}

.carrinho-modal-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.58);
  z-index: 10;
}
.carrinho-modal-container .carrinho-modal {
  width: 350px;
  height: auto;
  background-color: white;
  text-align: center;
  border-radius: 24px;
  padding: 10px;
  color: black;
}
.carrinho-modal-container .carrinho-modal input {
  border: 1px solid whitesmoke;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  border-color: whitesmoke;
  margin: 5px;
}
.carrinho-modal-container .carrinho-modal button {
  padding: 10px;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: crimson;
}
.carrinho-modal-container .carrinho-modal .carrinho-itens {
  width: 95%;
  margin: 0 auto;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: whitesmoke;
  border-radius: 14px;
  padding: 10px;
}
.carrinho-modal-container .carrinho-modal .span-container {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  color: crimson;
  display: flex;
  justify-content: space-around;
}

.carrinho-item {
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carrinho-item p {
  font-size: 0.8rem;
  font-weight: 100;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
