@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.categoria-container {
  width: 100vw;
  height: 30px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid darkred;
  background-color: white;
  z-index: 5;
}
.categoria-container a {
  min-width: 100px;
  height: 80%;
  text-decoration: none;
  color: black;
  text-align: center;
  cursor: pointer;
}

.header {
  z-index: 4;
  width: auto;
  height: auto;
  top: 30px;
  left: 100%;
  transition: 0.7s all;
  gap: 20px;
  position: fixed;
  padding: 5px;
  border-radius: 0 0 0 24px;
  border-left: 1px solid darkred;
  border-bottom: 1px solid darkred;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  background-color: white;
  color: white;
}
.header .pizza-header-container {
  width: 170px;
  height: 170px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 15px 1px sienna;
  background-image: url("https://media.istockphoto.com/id/1400136454/pt/foto/wood-plank-panel-texture-outdated-mahogany-table-background.jpg?s=612x612&w=0&k=20&c=12qxKEdus-k0Py2dpfYngZ6u8PJhvOJJaHEHoNZMRGc=");
}
.header .pizza-header-container .pizza-esquerda {
  position: absolute;
  width: 150px;
  height: 150px;
  clip-path: inset(0 50% 0 0); /* Corta 50% do lado esquerdo */
  border-radius: 100%;
}
.header .pizza-header-container .pizza-esquerda p {
  color: black;
  position: absolute;
  width: auto;
  right: 50%;
  background-color: white;
  box-shadow: 0 5px 10px 1px black;
  padding: 3px;
  text-align: center;
  font-size: 0.7rem;
}
.header .pizza-header-container .pizza-direita {
  position: absolute;
  width: 150px;
  height: 150px;
  clip-path: inset(0 0 0 50%); /* Corta 50% do lado direito */
  border-radius: 100%;
}
.header .pizza-header-container .pizza-direita p {
  color: black;
  position: absolute;
  left: 50%;
  width: auto;
  background-color: white;
  box-shadow: 0 5px 10px 1px black;
  padding: 3px;
  text-align: center;
  font-size: 0.7rem;
}
.header .bebidas-header-container {
  width: auto;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header .bebidas-header-container img {
  width: auto;
  height: 100%;
}
.header .bebidas-header-container p {
  font-size: 0.8rem;
  right: 0;
  color: black;
  background-color: white;
  box-shadow: 0 5px 10px 1px black;
  padding: 3px;
  text-align: center;
}
.header button {
  border-radius: 0 0 100% 100%;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: -51px;
  border-bottom: 1px solid darkred;
  border-left: 1px solid darkred;
  border-right: 1px solid darkred;
  border-top: none;
  background-color: white;
  color: red;
  cursor: pointer;
  z-index: 6;
}

main {
  max-width: 1200px;
  margin: 350px auto auto auto;
  height: 2000px;
  background-color: whitesmoke;
  border-radius: 24px;
  display: flex;
}
main .cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .cards-container .pizza-category h1 {
  font-size: 1.5rem;
  margin-left: 20px;
}
main .cards-container .bebida-category h1 {
  font-size: 1.5rem;
  margin-left: 20px;
}
main .cards-container .card {
  width: 200px;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(white, white);
  border-radius: 50% 50% 24px 24px;
  margin: 10px;
}
main .cards-container .card p {
  margin: 10px;
  font-weight: 100;
  font-size: 0.8rem;
  width: 70%;
  background-color: white;
  padding: 10px 5px;
  border-radius: 4px;
  border-bottom: 1px solid black;
}
main .cards-container .card p i {
  font-size: 1.5rem;
  margin-right: 10px;
}
main .cards-container .card img {
  width: 100%;
}
main .cards-container .card span {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
main .cards-container .card span p {
  font-size: 10px;
  border: none;
}
main .cards-container .card button:nth-of-type(1), main .cards-container .card button:nth-of-type(2) {
  display: inline-block;
  margin-right: 10px; /* Espaço entre os botões */
}
main .cards-container .card button:nth-of-type(1) img, main .cards-container .card button:nth-of-type(2) img {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .cards-container .card button:nth-of-type(1) {
  width: auto;
  height: 60px;
  border-color: red;
  margin: 4px;
  border-radius: 24px;
  background-color: white;
  cursor: pointer;
}
main .cards-container .card button:nth-of-type(1) img {
  height: 100%;
  width: auto;
  border-radius: 24px;
  z-index: 0;
}
main .cards-container .card button:nth-of-type(2) {
  width: auto;
  height: 60px;
  border-color: red;
  margin: 4px;
  border-radius: 24px;
  background-color: white;
  cursor: pointer;
}
main .cards-container .card button:nth-of-type(2) img {
  height: 100%;
  width: auto;
  border-radius: 24px;
  transform: rotate(180deg);
  z-index: 0;
}

.carrinho button {
  position: fixed;
  padding: 10px 20px;
  background-color: whitesmoke;
  color: red;
  right: 20px;
  top: 315px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  z-index: 5;
}

.carrinho-modal-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.58);
  z-index: 10;
}
.carrinho-modal-container .carrinho-modal {
  width: 350px;
  height: auto;
  background-color: white;
  text-align: center;
  border-radius: 24px;
  padding: 10px;
  color: black;
}
.carrinho-modal-container .carrinho-modal input {
  border: 1px solid whitesmoke;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  border-color: whitesmoke;
  margin: 5px;
}
.carrinho-modal-container .carrinho-modal button {
  padding: 10px;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: red;
}
.carrinho-modal-container .carrinho-modal .carrinho-itens {
  width: 95%;
  height: auto;
  text-align: left;
  background-color: whitesmoke;
  border-radius: 14px;
  padding: 10px;
}
.carrinho-modal-container .carrinho-modal .span-container {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  color: red;
  display: flex;
  justify-content: space-around;
}

.carrinho-item {
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carrinho-item p {
  font-size: 1rem;
  font-weight: 100;
}

/*# sourceMappingURL=style.css.map */
